

<%= render partial: '/layouts/navbar2' %>

<br>
<p>Hi, <%= current_user.name %>! Let's get started listing your space.</p>

<h3>What kind of place do you have?</h3>

<%= form_tag listings_path do%>
	<p>What is the name of your place? <%= text_field_tag 'listing[listing_name]', '', placeholder: 'Place\'s name'%></p>
	<p>Type of property: <%= select_tag 'listing[property_type]', options_for_select([ "Entire place", "Private Room","Shared Room"])%></p>	
	<p>For how many guests? <%= select_tag 'listing[number_of_guests]', options_for_select([1,2,3,4,5,6,7,8,9,10,11,12])%></p>
	<p>How many bedrooms? <%= select_tag 'listing[number_of_bedrooms]', options_for_select([1,2,3,4])%></p>
	<p>How many beds? <%= select_tag 'listing[number_of_beds]', options_for_select([1,2,3,4,5,6,7,8,9,10])%></p>
	
	<p>What is your address? <%= text_area_tag 'listing[address]', '', placeholder: 'Address' , rows: 1, cols: 100%></p>
	<p>Which country? <%= text_field_tag 'listing[country]', '', placeholder: 'Country' %></p>
	<p>Tell us more about your place? <%= text_area_tag 'listing[description]', '', placeholder: 'Home\'s description' , rows: 5, cols: 100%></p>	
	
	<%= submit_tag 'Submit' %>
<% end %>
