<!DOCTYPE html>
<html>
<head>
    <title>Booking BnB</title>
    <%= csrf_meta_tags %>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Load the Client component. -->
    <script src="https://js.braintreegateway.com/web/3.6.3/js/client.min.js"></script>

    <!-- Load the Hosted Fields component. -->
    <script src="https://js.braintreegateway.com/web/3.6.3/js/hosted-fields.min.js"></script>
</head>
<body>


  <% flash.each do |key, value| %>
      <div class="<%= flash_class(key) %>">
            <%= value %>
      </div>
  <% end %>

  <%= yield %>
<footer></footer>

</body>

</html>


  <!-- <div id="header">
    <%# if signed_in? -%>
      <%# button_to t(".sign_out"), sign_out_path, method: :delete %>
    <%# else -%>
      <%# link_to t(".sign_in"), sign_in_path %>
    <%# end -%>
  </div> -->